:root {
  /* Primitive Tokens */
  --clr-black: hsl(253, 69%, 8%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 80%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 20%);
  --color-green: hsl(120, 100%, 37%);
  --color-blue-dark: #00043d;

  --ff-segoe: "Segoe UI", sans-serif;


  /* Sementic Tokens */
  --color-fg: var(--color-gray-dark);
  --color-bg: var(--color-blue-dark);
  --color-accent: var(--color-green);

  --bg-form:var(--color-white);
  --fg-button:var(--color-white);

  --ff-primary:var(--ff-segoe);
}
